*
!.gitignore
!avatars/
avatars/*
!avatars/*.jpg
!avatars/*.jpeg
!avatars/*.png
!avatars/*.webp
!categories/
categories/*
!categories/*.jpg
!categories/*.jpeg
!categories/*.png
!categories/*.webp
!services/
services/*
!services/*.jpg
!services/*.jpeg
!services/*.png
!services/*.webp
!logos/
logos/*
!logos/*.jpg
!logos/*.jpeg
!logos/*.png
!logos/*.webp
!offers/
offers/*
!offers/*.jpg
!offers/*.jpeg
!offers/*.png
!offers/*.webp
